#contato {
    background-color: #352728;
}

.centralizar {
    text-align: center;
}

.contato {
    color: white;
    font-family: 'Quando', serif;
    font-size: 15px;
    padding-bottom: 50px;
}